{%- capture section_settings -%}
  {
    "type":
  {{ settings.cart_type | json }},
    "itemCount":
  {{ cart.item_count }},
    "drawer": false,
    "hasShippingEstimator":
  {% if section.settings.show_shipping_estimator and cart.item_count > 0 %}true{% else %}false
  {% endif %}
  }
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  {%- if cart.item_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'cart.general.empty' | t }}</h1>

        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
          {%- capture remaining_amount -%}
            <span>{{ cart.total_price | minus: threshold_in_cents | abs | money }}</span>
          {%- endcapture -%}

          <p class="Text--subdued">{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
        {%- endif -%}

        <a href="{{ routes.all_products_collection_url }}" class="EmptyState__Action Button Button--primary">{{ 'cart.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
    <div class="cart__wrap">
      {% comment %} タイトル部分 {% endcomment %}
      <div class="cart__header">
        <h2 class="cart__title">{{ 'cart.general.title' | t }}</h2>
        <p class="cart__freeShipping">
          {%- assign free_shipping_fee = 550000 -%}
          {% if cart.total_price == 0 %}
            <span>注文合計5,500円で送料無料</span>
          {% elsif cart.total_price < free_shipping_fee %}
            <span>送料無料まであと{{ free_shipping_fee | minus: cart.total_price | money_without_currency }}円</span>
          {% else %}
            <span>只今、カート内の商品を送料無料で注文できます！</span>
          {% endif %}
        </p>
      </div>
      {%- if settings.cart_show_free_shipping_threshold -%}
        {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
        <p class="SectionHeader__Description Text--subdued">
          {%- if cart.total_price >= threshold_in_cents -%}
            {{- 'cart.general.free_shipping' | t -}}
          {%- else -%}
            {%- capture remaining_amount -%}
              <span>{{ cart.total_price | minus: threshold_in_cents | abs | money }}</span>
            {%- endcapture -%}
            {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
          {%- endif -%}
        </p>
      {%- endif -%}

      <form action="{{ routes.cart_url }}" method="POST" class="Cart Cart--expanded" novalidate>
        <input name="attributes[collection_mobile_items_per_row]" type="hidden" value="">
        <input name="attributes[collection_desktop_items_per_row]" type="hidden" value="">
        {% render 'cart-items' %}
        <div class="cart__option__container">
          <div class="Cart__Recap">
            {%- capture shipping_and_taxes_notice -%}
              {{ 'cart.general.shipping_and_taxes_notice' | t }}
            {%- endcapture -%}
            {%- if cart.cart_level_discount_applications != blank -%}
              {%- for discount_application in cart.cart_level_discount_applications -%}
                <p class="Cart__Discount Heading u-h6">{{ 'cart.general.discount' | t }}
                  ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money }}</span>
                </p>
              {%- endfor -%}
            {%- endif -%}
            <p class="cart__price__total">{{ 'cart.general.total' | t }}:
              <span>{{ cart.total_price | money_with_currency }}</span>
            </p>
            {%- if shipping_and_taxes_notice != blank -%}
              <p class="cart__price__totalText">送料はお会計時に精算されます</p>
            {%- endif -%}
            {%- comment -%}
            <div class="cart__item__option__container">
              <p class="cart__item__option__text">配達指定日</p>
              <input class="cart__item__option" name="attributes[お届け希望日]" type="date" placeholder="指定なし" value="{{ cart.attributes["お届け希望日"] }}"/>
            </div>
            <div class="cart__item__option__container">
              <p class="cart__item__option__text">配送時間帯</p>
              {% render 'cart-deliverytime' %}
            </div>
            {%- endcomment -%}
            <button class="Cart__Checkout Button Button--primary cart__button" name="checkout" type="submit">{{ 'cart.general.checkout' | t }}</button>
          </div>
        </div>
      </form>
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    }
  ]
}
{% endschema %}